.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-card {
    width: 400px;
    max-width: 90%;
    padding: 20px;
}

.full-width {
    width: 100%;
}