<div class="container">
    <h2>Send Feedback</h2>
    <form #feedbackForm="ngForm" (ngSubmit)="submitFeedback(feedbackForm)">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Title</mat-label>
            <input matInput name="title" [(ngModel)]="feedbackModel.title" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput name="description" [(ngModel)]="feedbackModel.description" required></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent" [disabled]="feedbackForm.invalid">Submit</button>
    </form>
</div>